<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.srendip.mobile</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>10.3</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>a0dqZybPA6zLZ8TkO3R24WU91b3sZCQ2d9</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.porpoise.openappscheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>open-porpoise-app</string>
			</array>
			<key>CFBundleURLIconFile</key>
			<string>Assets.xcassets/AppIcons.appiconset/porpoise_icon58x58</string>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb467819537190038</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLName</key>
			<string>Auth0</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.auth0.iossample</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>fbcdn.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
			<key>akamaihd.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleDisplayName</key>
	<string>Srendip</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcons.appiconset</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to the photo library.</string>
	<key>NSCameraUsageDescription</key>
	<string>This app requires access to the camera.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Ubuntu-Bold.ttf</string>
		<string>AvenirLT-BlackOblique.ttf</string>
		<string>AvenirLT-Book.ttf</string>
		<string>AvenirLT-BookOblique.ttf</string>
		<string>AvenirLT-Heavy.ttf</string>
		<string>AvenirLT-HeavyOblique.ttf</string>
		<string>AvenirLT-Light.ttf</string>
		<string>AvenirLT-LightOblique.ttf</string>
		<string>AvenirLT-Medium.ttf</string>
		<string>AvenirLT-MediumOblique.ttf</string>
		<string>AvenirLT-Oblique.ttf</string>
		<string>AvenirLT-Roman.ttf</string>
		<string>Ubuntu.ttf</string>
		<string>Ubuntu-BoldItalic.ttf</string>
		<string>Ubuntu-Italic.ttf</string>
		<string>Ubuntu-Light.ttf</string>
		<string>Ubuntu-LightItalic.ttf</string>
		<string>Ubuntu-Medium.ttf</string>
		<string>Ubuntu-MediumItalic.ttf</string>
		<string>museo-500-webfont.ttf</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSContactsUsageDescription</key>
	<string>This app requires access to contacts.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app requires access to calendar.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app requires access to microphone.</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>This app requiress access to apple music.</string>
	<key>NSSiriUsageDescription</key>
	<string>This app requires Siri.</string>
	<key>CFBundleName</key>
	<string>Srendip Mobile</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0.11</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Getting location for sample application</string>
</dict>
</plist>
